:root {
	
	font-family: 'Roboto', sans-serif;
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-xl: 36px;
	--fontSizeS: 14px;
	--fontSizeD: 16px;
	--fontSizeL: 20px;
	--fontSizeXL: 24px;
	--fontSizeXXL: 36px;

	--r: 220;
	--g: 226;
	--b: 230;
	--color-border: rgb(var(--r), var(--g), var(--b));
	
	--color-title: #ffffff;
	--color-text: #9CA3AF;	

	--blue-primary: #007bff;
	--color-white: #ffffff;
	--color-violet: rgba(136, 95, 251, 1);
	--color-grey: rgba(42, 49, 65, 0.44);

	--border-radius: 4px;

	--weight-title: 700;
	--weight-text: 400;

	scroll-behavior: smooth;

}

.page {
	background: rgba(17, 24, 39, 1);
	padding: 0 15px;

	display: flex;
	justify-content: center;

}

.page_content {
	
	max-width: 1150px;
	width: 100%;
	
	display: flex;
	flex-direction: column;
	
	gap: 60px;
}

.header {
	padding: var(--space-l) 0px;

	display: flex;
	justify-content: space-between;
}

.logo {
	font-size: 17px;
	color: var(--color-white);
	background: var(--color-violet);


	width: 56px;
	height: 30px;

	border-radius: calc(var(--border-radius) / 2);

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 8px 12px;
}


.nav {
	display: flex;

}

.nav_inline {
	display: flex;
	flex-direction: row;
	justify-content: right;
	gap: var(--space-l);
}

.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;
}

.nav_link {
	color: var(--color-white);
	font-size: var(--fontSizeD);
	text-decoration: none;
	line-height: 150%;

	transition-property: color;
	transition-duration: 1s;
}

.nav_link:hover {
	text-decoration: underline;
	color: var(--blue-primary);
}

.header_nav_right {
	margin-left: auto;
	width: fit-content;
} 


.footer {
	padding: var(--space-m);	
	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
	
}

.footer_copyright {
	font-size: var(--fontSizeS);
	color: var(--color-text);
}

.main {
	display: flex;
	width: 100%;
	align-items: flex-start;
	gap: 40px;
}

.ads {
	display: flex;
	justify-content: space-between;
}

.ads_logo {
	color: var(--color-white);
	background: rgba(136, 95, 251, 0.2);
	padding: 2px 6px;
	gap: 10px;
	border-radius: var(--border-radius)
}

.ads_link	{
	color: var(--color-white);
	text-decoration: none;

	transition-property: underline;
	transition-delay: 1s;
}

.ads_link:hover {
	text-decoration: underline;
}

.users_online	{
	color: var(--color-white);
	font-size: var(--fontSizeD);
}

.hero_block {
	display: flex;
	flex-direction: column;
	background: radial-gradient(100% 625% at 100% 100%, rgba(17, 24, 39, 0) 0%, rgba(78, 63, 146, 0.6) 100%);
	padding: var(--space-xl) var(--space-l);
	filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
	border-radius: 24px;

	max-width: 1150px;
	max-height: 300px;
}

.hero_block > div {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
	align-items: center;
}


.hero_title {
	color: var(--color-title);
	font-size: var(--fontSizeXXL);
	font-weight: var(--weight-title);
}

.hero_text {
	color: var(--color-text);
	font-size: var(--fontSizeD);
	font-weight: var(--weight-text);
	line-height: 150%;
}

.button {
	color: var(--color-white);
	background: var(--color-violet);
	border-radius: var(--border-radius);
	padding: var(--space-m) var(--space-l);
	font-size: var(--fontSizeD);
	font-weight: var(--weight-text);
	text-decoration: none;
}

.button_outline {
	color: var(--color-white);
	border: solid 1px var(--color-white);
	border-radius: var(--border-radius);
	padding: var(--space-m) var(--space-l);
	font-size: var(--fontSizeD);
	font-weight: var(--weight-text);
	text-decoration: none;
}

.about_block {
	background: rgba(42, 49, 65, 0.44);
	display: flex;
	flex-direction: column;		
	padding: var(--space-xl);
	gap: var(--space-xm);
}

.about_title {
	color: var(--color-title);
	font-size: var(--fontSizeXL);
	font-weight: var(--weight-title);
	line-height: 100%;
	
}

.about_text {
	color: var(--color-text);
	font-size: var(--fontSizeD);
	line-height: 170%;
}

.articles {
	display: flex;
	flex-direction: column;
	gap: var(--space-xl);
}

.articles_header {
	display: flex;	
	justify-content: space-between;

	color: var(--color-title);
	font-size: var(--fontSizeXXL);
}

.card_image {
	border-radius: calc(var(--border-radius) * 6);
}

.articles_cards {
	display: flex;
	flex-direction: row;
	
	gap: var(--space-m);

	color: var(--color-white);
}

.card_badge {
	position: absolute;
	top: 1000px;
	left: 850px;

	text-transform: uppercase;
	background-color: brown;
	padding: 4px 6px;
	border-radius: var(--border-radius);

	font-size: var(--fontSizeD);
}

.card_name {
	color: var(--color-title);
	font-size: var(--fontSizeXL);
	font-weight: var(--weight-title);
	padding-top: var(--space-m);
	padding-bottom: var(--space-m);
}

.card_description {
	color: var(--color-text);
	font-size: var(--fontSizeD);
	line-height: 170%;
	padding-bottom: var(--space-m);
}

.card_button {
	border-radius: calc(var(--border-radius) * 2);
}