:root {
	--space-m: 12px;
	--space-l: 24px;
	--fontSizeS: 14px;
	--fontSizeD: 16px;
	--fontSizeL: 20px;

	/* --r: 0;
	--g: 226;
	--b: 230;
	--color-border: rgb(var(--r), var(--g), var(--b)); */

	--color-border: #dee2e6;

}

.page {
	background: #ffffff;
	padding: 0 15px;

	display: flex;
	justify-content: center;

}

.page_content {
	max-width: 960px;
	width: 100%;

	display: flex;
	flex-direction: column;

	gap: 80px;
	
}

.header {
	padding: var(--space-l);
	border-bottom: 1px solid var(--color-border);
}

.logo {
	font-size: 17px;
}


.nav {
	display: block;

}

.nav_link {
	color: #343A40;
	font-size: var(--fontSizeD);
	text-decoration: none;

}

.nav_link:hover {
	text-decoration: underline;
	color: #007bff;
}

.nav_vertical > .nav_link {
	display: block;
	
}

.nav_inline > .nav_link:not(:last-child) {
	margin-right: var(--space-l);
}

.nav_vertical > .nav_link:not(:last-child) {
	margin-bottom: var(--space-m);
}

.header_nav_right {
	margin-left: auto;
	width: fit-content;
}

.page_block:not(:last-of-type) {
	margin-bottom: 80px;
}

.footer {
	padding: 24px 0;
	
	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.footer_copyright {
	font-size: var(--fontSizeS);;
	color: #6c757d;
	display: block;
	margin-top: var(--space-m);
}

.footer_title {
	font-size: 20px;
	color: #212529;
	display: block;
	margin-bottom: var(--space-m);
}

.hero_title	{
	font-size: 56px;
	color: #212529;
	font-weight: 500;
	text-align: center;
	margin-bottom: 12px;	
}

.hero_text {
	color: #212529;
	font-size: 20px;
	text-align: center;
	max-width: 585px;
	margin: 0 auto;
	
}

.plans_card:not(:last-of-type) {
	margin-right: 24px;
}

.card-header {
	padding: 12px;
	text-align: center;
	font-size: 24px;
	color: #212529;
}

.card-body {
	padding: 24px;

}

.card_price_amount {
	font-size: 40px;
	color: #212529;
}

.card_price_duration {
	font-size: 29px;
	color: #6c757d;

	vertical-align: baseline;
}

.card_block {
	margin-bottom: 24px;
	text-align: center;
}

.card_block:not(:last-of-type) {
	margin-bottom: 24px;
}

.card_description_item {
	font-size: var(--fontSizeD);
	color: #212529;
	display: block;
	
}

.card_description_item:not(:last-of-type) {
	margin-bottom: 12px;
}

.card_button {
	display: block;
	width: 100%;	
	font-size: 19px;
	padding: 9px;
}

